
<div class="jumbotron jumbotron-fluid text-center gradient-main-header">
  <img class="img-fluid" src="../assets/images/wmlogo.png" />
  <div class="container">
    <h2 class="display-4">Search <span class="our-accent">Our</span> Titles</h2>
  </div>
</div>
<router-outlet></router-outlet>
