
h2{
  font-size: 1.4em;

}


@media (min-width: 540px) {
  h2{
    font-size: 2.4em;
  }
}

@media (min-width: 720px) {
  h2{
    font-size: 3.4em;
  }
}

@media (min-width: 992px) {
  h2{
    font-size: 3.4em;
  }
}

.gradient-main-header{
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353537 74%);
  font-family: Rockwell, SansSerif;
  color: ghostwhite;
}

.our-accent{
  color: black;
}






