
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <div *ngIf="isLoading" class="text-center">
    <div class="lds-dual-ring text-center"></div>
  </div>
  <div *ngIf="!errorMessage && !isLoading">
    <div mat-dialog-title>
      <h2>{{titleWithDetails.Name}}<span *ngIf="titleWithDetails.ReleaseYear">({{titleWithDetails.ReleaseYear}})</span></h2>
    </div>
    <mat-dialog-content >
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div>
            <h4>Other Name</h4>
            <ul>
              <li *ngFor="let otherName of titleWithDetails.OtherNames">{{otherName.TitleName}}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4>Genre(s)</h4>
          <ul>
            <li *ngFor="let genre of titleWithDetails.Genres">{{genre.Name}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Story Line</h4>
          <div>
            <p *ngFor="let story of titleWithDetails.StoryLines">{{story.Description}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h4>Awards</h4>
          <div>
            <ul>
              <li *ngFor="let award of titleWithDetails.Awards">{{award.Award}} by {{award.AwardCompany}}({{award.AwardYear}}) - {{award.AwardWon? 'Won' : 'Lost'}}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4>Participants</h4>
          <ul>
            <li *ngFor="let participant of titleWithDetails.Participants">{{participant.Name}} - {{participant.RoleType}}</li>
          </ul>
        </div>
      </div>
    </mat-dialog-content>
  </div>

