h2{
  font-size: 1em;

}


@media (min-width: 540px) {
  h2{
    font-size: 1.2em;
  }
}

@media (min-width: 720px) {
  h2{
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  h2{
    font-size: 2em;
  }
}

.error{
  color: red;
}
