<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3"></div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <form>
        <div class="form-group">
          <label for="txtTitleToSearch">Enter a title below to see search results.</label>
          <input type="text" class="form-control"
                 name="txtTitleToSearch" id="txtTitleToSearch" #txtTitleToSearch
                 placeholder="Title"
                 (keyup)="onSearchTextChanged($event)" />
        </div>
      </form>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3"></div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div *ngFor="let title of searchResults">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{title.Name}}<span *ngIf="title.ReleaseYear">({{title.ReleaseYear}})</span></h5>
            <p class="card-text">{{title.StoryLine}}</p>
            <button class="btn btn-primary" (click)="onShowDetailsClicked(title.Id)">View Details</button>
          </div>
        </div>
      </div>
      <div *ngIf="searchResults.length === 0 && !errorToShow && !isLoading">
        <div class="text-center">No Results</div>
      </div>
      <div *ngIf="errorToShow && !isLoading">
        <div class="text-center mat-error">{{errorToShow}}</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3"></div>
  </div>
  <div *ngIf="isLoading" class="text-center">
    <div class="lds-dual-ring text-center"></div>
  </div>

</div>
